body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "SF Pro";
}
p {
  margin: 0;
}
/*.task {*/
/*  border: 1px solid #c7c7c7;*/
/*  border-radius: 15px;*/
/*  display: flex;*/
/*  padding: 22px 19px;*/
/*  align-items: center;*/
/*  gap: 16px;*/
/*  margin-bottom: 11px;*/
/*  color: #4F4F4F;*/
/*}*/
/*.task p {*/
/*  flex: 1;*/
/*}*/
/*.task div {*/
/*  background: #D9D9D9;*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  border-radius: 20px;*/
/*}*/
/*.task button {*/
/*  background: none;*/
/*  border: none;*/
/*}*/
/*.new-button {*/
/*  background: none;*/
/*  color: #2400FF;*/
/*  border: 2px solid #2400FF;*/
/*  border-radius: 15px;*/
/*  padding: 22px;*/
/*  font-size: 17px;*/
/*}*/
/*.logout-button {*/
/*  background: none;*/
/*  border: none;*/
/*  font-size: 17px;*/
/*}*/
/*.menu {*/
/*  display: flex;*/
/*  margin-bottom: 10px;*/
/*}*/
/*.menu p {*/
/*  flex: 1;*/
/*}*/
/*.new-button {*/
/*  padding: 22px 19px;*/
/*  width: 100%;*/
/*}*/
/*.container {*/
/*  max-width: 972px;*/
/*  width: 100%;*/
/*  padding: 9px;*/
/*}*/
/*.flex {*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.modal {*/
/*  border: 1px solid #c7c7c7;*/
/*  border-radius: 15px;*/
/*  padding: 38px 50px*/
/*}*/

/*.savebutton {*/
/*  background: none;*/
/*  color: #2400FF;*/
/*  border: 2px solid #2400FF;*/
/*  border-radius: 15px;*/
/*}*/

/*.cancelbutton {*/
/*  background: none;*/
/*  border: 2px solid red;*/
/*  color: red;*/
/*  border-radius: 15px;*/
/*}*/

/*.circle {*/
/*  background: #D9D9D9;*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  border-radius: 20px;*/
/*}*/

/*.taskinput {*/
/*  background: #F2F2F2;*/
/*  border: 1px solid #D2D2D2;*/
/*  border-radius: 15px;*/
/*  margin-bottom: 27px;*/
/*}*/

/*.markasdone {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  margin-bottom: 27px;*/
/*}*/

/*.modalbuttons {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  gap: 27px;*/
/*}*/

/*.modalbuttons button {*/
/*  padding: 22px 19px;*/
/*  flex: 1;*/
/*  font-size: 17px;*/
/*}*/

/*.modal input {*/
/*  width: 536px;*/
/*  padding: 19px 18px;*/
/*  font-size: 17px;*/
/*}*/

/*.edittask {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  margin-bottom: 27px;*/
/*}*/

/* Customize the label (the container) */
.cbcontainer {
  display: block;
  position: relative;
  padding-left: 39px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 25px;
}

/* Hide the browser's default checkbox */
.cbcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #eee;
  transform: translateY(-50%);
}

/* On mouse-over, add a grey background color */
.cbcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cbcontainer input:checked ~ .checkmark {
  background-color: #99BD75;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cbcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cbcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}